{% extends "base.html" %}
{% block cuerpo %}
{% if mensaje != "" %}
<div class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{mensaje}}
</div>
{% endif %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      <div class="form-signin">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Cambiar Contraseña</h3>
          </div>
          <div class="panel-body">
            <br>
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <form role="form" action="{% url 'change_pass' %}" method="post">{% csrf_token %}
                    <div class="form-group">
                      {{form.password_actual}}
                    </div>
                    <div class="form-group">
                      {{form.password_nuevo}}
                    </div>
                    <div class="form-group">
                      {{form.password_confirmar}}
                    </div>
                    <div class="form-group">
                      <div class="pull-left">
                        <a href="{% url 'principal' %}" type="button" class="btn btn-danger">Volver <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span></a>
                      </div>
                      <div class="pull-right">
                        <button type="submit" class="btn btn-success">Enviar <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock %}
